<div class="wrapper">
    <h1>Create Event</h1>
    <mat-form-field>
        <input matInput placeholder="Title" [(ngModel)]="title" [disabled]="loading">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Description" [(ngModel)]="description" [disabled]="loading">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Location" [(ngModel)]="location" [disabled]="loading">
    </mat-form-field>
    <date-time (valueChanged)="setStartDate($event)" placeholder="Start Date" [disabled]="loading"></date-time>
    <date-time (valueChanged)="setEndDate($event)" placeholder="End Date" [disabled]="loading"></date-time>
    <button mat-raised-button color="primary" (click)="createEvent()" class="form-submit-button" [disabled]="loading || !formValid()">
        <span *ngIf="!loading">Submit</span>
        <mat-spinner *ngIf="loading" class="spinner"></mat-spinner>
    </button>
</div>