<mat-spinner *ngIf="loading"></mat-spinner>
<div class="container" *ngIf="!loading">
  <div class="images">
    <div class="bg-image">
      <img [src]="profile.picture" />
    </div>
  </div>


  <div class="attr">
    <div class="label">Nickname</div>
    <mat-form-field>
      <input matInput [(ngModel)]="profile.nickname" required [disabled]="buttonLoading">
    </mat-form-field>
    <!--   <div class="value">{{ profile.nickname }}</div>-->
  </div>
  <div class="attr">
    <div class="label">Email</div>
    <mat-form-field>
      <input matInput [(ngModel)]="profile.email" required [disabled]="buttonLoading">
    </mat-form-field>

  </div>
  <div class="attr">
    <div class="label">First Name</div>
    <mat-form-field>
      <input matInput [(ngModel)]="profile.given_name" [disabled]="buttonLoading">
    </mat-form-field>
  </div>
  <div class="attr">
    <div class="label">Last Name</div>
    <mat-form-field>
      <input matInput [(ngModel)]="profile.family_name" [disabled]="buttonLoading">
    </mat-form-field>

  </div>
  <button mat-raised-button color="primary" (click)="updateProfile()" class="form-submit-button"
    [disabled]="buttonLoading">
    <span *ngIf="!buttonLoading">Submit</span>
    <mat-spinner *ngIf="buttonLoading" class="spinner"></mat-spinner>
  </button>
</div>