:host {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.spinner-wrapper {
    display: flex;
    justify-content: center;
}
:host ::ng-deep .spinner {
    width: 25px !important;
    height: 25px !important;
    svg {
        width: 25px !important;
        height: 25px !important;
    }
}

.loading {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

agm-map {
    height: 250px;
    width: 100%;
}

#addressRsvpBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

#rsvpButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.3rem;
}

#name {
    margin-left: 5px;
}

#dateInfo {
    display: flex;
    background-color: #37A1B1;
    padding: 10px;
    justify-content: space-between;
}

#dateInfo > h2 {
    margin: 5px 5px;
    color: white
}

.body-wrapper {
    display: flex;
    justify-content: center;
}
#bodyBlock {
    padding: 0 1rem;
    width: 100%;
    max-width: 500px;
}

#infoBlock {
    display: flex;
    height: auto;
    margin-top: 1rem;
}

#eventInfo {
    display: block;
    margin-left: 15px;
}

#hostProfileImg {
    display: block;
    object-fit: cover;
    border-radius: 40px;
    max-width: 30%;
    height: auto;
    border: 1px solid gray;
}

.notBold {
    font-weight: normal;
}

.bold {
    font-weight: bolder;
}

.title {
    margin: 0;
    margin-bottom: 0.5rem;
}
.subtitle {
    margin: 0;
}

.description-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.description {
    margin-top: 0;
}

.rsvpImg {
    object-fit: cover;
    border-radius: 25px;
    width: 75px;
    height: 75px;
}

.rsvps {
    display: flex;
    flex-direction: column;
}
.rsvp {
    display: flex;
    padding: 0.5rem;
    margin: 0.5rem 0;
}

.rsvp p {
    padding-left: 10px;
}

#rsvpBlock {
    margin-top: 2rem;
}
#rsvpBlock h2 {
    margin-bottom: 0px;
}

.no-rsvps {
    text-align: center;
    margin-bottom: 0.5rem;
}

/* Large devices (large desktops, 1200px and up) */
@media (max-width: 1600px) {

    h1 {
        font-size: 50px;
    }

    h3 {
        font-size: 40px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {

    h1 {
        font-size: 40px;
    }

    h3 {
        font-size: 30px;
    }

    #hostProfileImg {
        border-radius: 30px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {

    h1 {
        font-size: 30px;
    }

    h3 {
        font-size: 20px;
    }

    #hostProfileImg {
        border-radius: 20px;
    }
}