<div *ngIf="isLoading" class="loading">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="!isLoading">
    <agm-map [latitude]='event.latitude' [longitude]='event.longitude' [mapTypeId]='mapType' [zoom]='12'></agm-map>
    <div id="dateInfo" class="mat-elevation-z2">
        <h2 class="bold">{{ event.startDate.toDateString() }}</h2>
        <h2 class="notBold">{{ startTime }}</h2>
    </div>
    <div id="bodyBlock">
        <div id="addressRsvpBlock">
            <h1 class="bold" id="location">{{ event.location }}</h1>
            <button mat-raised-button id="rsvpButton" color="primary" (click)="rsvpForEvent()">{{ shouldRsvp }}</button>
        </div>
        <div id="infoBlock">
            <img id="hostProfileImg" src="{{ event.host_picture }}">
            <div id="eventInfo">
                <h1 class="title bold">{{ event.title }}</h1>
                <p class="subtitle">Hosted by: {{ event.host_name }}</p>
                <p class="subtitle notBold">{{ startTime }} - {{ endTime }}</p>
            </div>
        </div>
        <div id="descriptionBlock">
            <h2 class="bold">Description</h2>
            <p>{{ event.description }}</p>
        </div>
        <div id="rsvpBlock">
            <h2 class="bold">RSVPs</h2>
            <mat-list class="rsvps">
                <mat-list-item class="rsvp" *ngFor="let rsvp of rsvps">
                    <img class="rsvpImg" src="{{ rsvp.picture }}"/>
                    <p>{{ getName(rsvp) }}</p>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>