<!-- <div class="flexing"> -->
<div class="center">
    <div class="land">
        <div class="lands">
            <img src="assets/logo.PNG" class="logo" />
        </div>
        <button class="button" (click)="auth.login()">SIGN IN / SIGN UP</button>
    </div>
    <div class="titles">
        <div class="font">
            DON'T
        </div>

        <div class="font">
            MISS
        </div>
        <div class="font">
            AN
        </div>
        <div class="font">
            EVENT
        </div>
    </div>

    <div class="image">
        <img src="assets/newiphone.png" class="phone" />
    </div>
</div>
<!-- </div> -->