<div class="flexing">
    <div class="center">
        <div class="land">
            <div class="lands">
                <img src="assets/logo.PNG" class="logo" />
            </div>
            <button class="button2" (click)="auth.login()">CREATE ACCOUNT</button>
            <button class="button" (click)="auth.login()">LOG IN</button>
        </div>
        <div>
            <div class="font">
                DON"T
            </div>

            <div class="font">
                MISS
            </div>
            <div class="font">
                AN
            </div>
            <div class="font">
                EVENT
            </div>
        </div>

        <div class="image">
            <img src="assets/newiphone.png" class="phone" />
        </div>
    </div>
</div>